$breakpoint: 560px;

$color-text: #242424;
$color-link: #5F9EA0;
$color-contact: #808080;

$font-size--sm: 20px;
$font-size--md: 32px;
$font-size--lg: 48px;

$transition-duration: 125ms;
$transition-timing: ease-out;

@font-face {
  font-family: 'Radley';
  font-style: normal;
  font-weight: 400;
  src: local('Radley'), url('../fonts/Radley-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

main {
  margin: -200px auto 0;
  width: 80vw;
  color: $color-text;
  font-family: 'Radley', serif;
}

.title {
  margin: 0;
  font-size: $font-size--md;

  @media (min-width: $breakpoint) {
    font-size: $font-size--lg;
  }
}

.position {
  margin: 5px 0 15px;
  font-size: $font-size--sm;

  @media (min-width: $breakpoint) {
    margin-bottom: 20px;
    font-size: $font-size--md;
  }
}

.company {
  position: relative;
  color: $color-link;
  text-decoration: none;

  &:hover:before {
    right: 0;
    left: 0;
  }
}

.company:before {
  content: '';
  position: absolute;
  right: 50%;
  bottom: -1px;
  left: 50%;
  border-radius: 1px;
  height: 3px;
  background: $color-link;
  transition-property: right, left;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing;
}

.contact {
  margin-right: $font-size--sm;
  color: $color-contact;
  text-decoration: none;
  font-size: $font-size--md;
  transition: color $transition-duration $transition-timing;
  user-select: none;

  &:hover {
    color: $color-link;
  }
}

.title::selection,
.position::selection {
  color: $color-link;
}

.company::selection {
  color: $color-text;
}
