#experience > .container {
  padding-left: 10vw;
  padding-right: 10vw;
  & > .row {
    text-align: left;
    margin-top: 30px;
  }
  @media screen
  and (max-width: $breakpoint-md)
  and (min-width: $breakpoint-sm) {
    padding-left: 2vw;
    padding-right: 2vw;
  }
  @media screen
  and (max-width: $breakpoint-xs)
  and (min-width: 500px) {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  @media screen and (max-width: 500px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.exp-section, .exp-position, .exp-organization, .exp-summary, .exp-date, .exp-location {
  margin: 0 0 5px;
}

.exp-section {
  font-family: $raleway;
  margin-bottom: 30px;
}

.exp-position {
  font-weight: bold;
  color: $red;
}

.exp-organization {
  font-style: italic;
}

.exp-summary {
  line-height: 1.6;
  & > a {
    &:visited {
      color: #275F8F;
    }
  }
}

.exp-summary, .exp-location {
  color: $copy-color;
}
