/* Portfolio */
.project-container {
  margin: 25px auto;
  perspective: 1000px;
}

.project-container, .project, .project-info {
  width: 300px;
  height: 300px;
  min-width: 300px;
  min-height: 300px;
  @media screen and (max-width: $breakpoint-xs)
  and (min-width: 575px) {
    width: 60vw;
    height: 60vw;
  }
  @media screen and (max-width: 574px) {
    width: 80vw;
    height: 80vw;
  }
}

@media screen and (max-width: $breakpoint-xs) {
  .ancillary, .back {
    display: none;
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .project-container:hover .flipper, .project-container.hover .flipper {
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  	transform: rotateY(180deg);
  }

  .flipper {
  	transition: 0.6s;
  	transform-style: preserve-3d;

  	position: relative;
  }

  .front, .back {
  	backface-visibility: hidden;
  	top: 0;
  	left: 0;
  }

  .front {
  	z-index: 2;
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
  	transform: rotateY(0deg);
  }

  .back {
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg) translateZ(1px);
  	transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    & > .project-info {
      background-color: $steel;
    }
  }
}

.front {
  & > .project {
    border: 5px solid white;
    background-size: contain !important;
    &.festivalist {
      background: url('../images/projects/Festivalist.png');
    }
    &.roadtrip {
      background: url('../images/projects/Road%20Trip%20Roulette.png');
    }
    &.emphasize {
      background: url('../images/projects/Emphasize.png');
    }
    &.restaurant {
      background: url('../images/projects/Not%20Chinese%20Food.png');
    }
    &.blackjack {
      background: url('../images/projects/Blackjack.png');
    }
  }

  & > .project-info {
    opacity: 0;
  }
}

.project-info {
  position: absolute;
  top: 0;
  border: 5px solid white;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.project-title {
  font-family: $raleway;
  color: white;
  font-size: 24px;
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
  padding: 20px 0;
  border-bottom: 2px solid white;
  &:hover {
    color: white;
    text-decoration: underline;
  }
}
